.founder-img {
    height: 200px;
    border-radius: 50%;
    width: 200px;
    object-fit: cover;
}

.display-inline {
    display: inline-block;
}

.about-table {
    margin: 0 auto;
    width: 70%;
}

@media (max-width: 575.98px) {
    .about-table {
        margin: 0 auto;
        width: 90%;
    }
}