.founder-img {
    height: 200px;
    border-radius: 50%;
    width: 200px;
    object-fit: cover;
}

.service_logo_image {
    width: 200px;
    object-fit: cover;
}

@media (max-width: 575.98px) {
    .service_logo_image {
        width: 150px;
    }
}

.service_display_image {
    width: 500px;
    object-fit: cover;
}

@media (max-width: 575.98px) {
    .service_display_image {
        width: 300px;
    }
}

.display-inline {
    display: inline-block;
}

.about-table {
    margin: 0 auto;
    width: 70%;
}

@media (max-width: 575.98px) {
    .about-table {
        margin: 0 auto;
        width: 90%;
    }
}

.navbar-brand-image {
    margin-top: -10px;
}